version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
  
  - package-ecosystem: "docker"
    directory: "/geo-service"
    schedule:
      interval: "weekly"

  - package-ecosystem: "composer"
    directory: "/app"
    schedule:
      interval: "weekly"
