services:
  rauth-auth-service:
    container_name: rauth-auth-service
    build: .
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER:-arumes31}/rauth-auth:latest
    ports:
      - "${AUTH_PORT:-5980}:80"
    environment:
      - REDIS_HOST=rauth-auth-redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - INITIAL_USER=${INITIAL_USER:-admin}
      - INITIAL_PASSWORD=${INITIAL_PASSWORD}
      - INITIAL_EMAIL=${INITIAL_EMAIL:-admin@example.com}
      - INITIAL_2FA_SECRET=${INITIAL_2FA_SECRET}
      - TOKEN_VALIDITY_MINUTES=${TOKEN_VALIDITY_MINUTES:-2880}
      - COOKIE_DOMAIN=${COOKIE_DOMAIN}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - SERVER_SECRET=${SERVER_SECRET}
      - TZ=${TZ:-UTC}
      - MAXMIND_ACCOUNT_ID=${MAXMIND_ACCOUNT_ID}
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - MAXMIND_DB_PATH=/app/geoip/GeoLite2-Country.mmdb
      - GEOIP_EDITION_IDS=${GEOIP_EDITION_IDS:-GeoLite2-Country}
      - GEOIP_DATABASE_DIRECTORY=/app/geoip
    depends_on:
      - rauth-auth-redis
    volumes:
      - ./geoip-data:/app/geoip
    networks:
      - auth-network

  rauth-auth-redis:
    image: redis:8.0-alpine
    container_name: rauth-auth-redis
    hostname: rauth-auth-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis-data:/data
    networks:
      - auth-network

networks:
  auth-network:
    driver: bridge