name: binary-size-tracker
on:
  push:
    branches: [ main, test ]
  pull_request:
    branches: [ main, test ]

jobs:
  check-size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Build Binary
        run: |
          go build -ldflags="-s -w" -o rauth main.go
          du -sh rauth
      - name: Track Size
        uses: pascalgn/size-label-action@v0.5.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          sizes: |-
            rauth: 20MB
