name: Go Tests

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Verify dependencies
        run: go mod tidy && go mod verify

      - name: Run Vet
        run: go vet ./...

      - name: Run Tests
        run: go test -v -race ./...
